extends ../../layouts/default.pug
include ../../mixin/box-head.pug
include ../../mixin/alert.pug

block main 
    +alert-success("3000")
    +alert-error("5000")

    .container.my-3 
        .row 
            .col-12
                +box-head("Đặt hàng thành công")