extends ../../layouts/default.pug 
include ../../mixin/LayoutProduct.pug
block main 
    div(class="container my-4 px-3")
        div(class="row mb-3")
        div(class="col-12")
            h2(
                class="text-center text-primary"
            ) Danh sách sản phẩm nổi bật
        +product-grid(productsFeatured)
        
    div(class="container my-4 px-3")
        div(class="row mb-3")
        div(class="col-12")
            h2(
                class="text-center text-primary"
            ) Danh sách sản phẩm mới nhất
        +product-grid(newRecord)
        