/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 20px; 
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .inter-logo img {
  width: 50px;
  height: auto;
}

header .inter-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

header .inter-menu ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #000;
}

h1 {
  text-align: center;
  color: #2a8c17;
  margin: 2rem 0;
}

.product-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0 20px; 
}

.product-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 200px;
  text-align: center;
  margin-left: 20px; 
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-card h2 {
  font-size: 18px;
  margin: 1rem 0 0.5rem;
}

.price-current {
  color: #2a8c17;
  font-size: 18px;
  font-weight: bold;
}

.price-old {
  text-decoration: line-through;
  color: #ff0000;
  font-size: 16px;
}

.discount {
  display: inline-block;
  background-color: #ff0000;
  color: #ffffff;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 0.5rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: #ffffff;
  margin-top: 2rem;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  padding-left: 20px; 
  background-color: lightblue;
} */

.inner-featured {
  position: absolute;
  top: 0;
  right: 0;
  background: green;
  color: white;
  padding: 3px 6px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 8px;
}

/* Căn bản cho menu */

.sub-menu {
  position: relative;
  z-index: 999;
}

.sub-menu ul {
  position: absolute;
  top: 100%;
  right: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #eae9e9;
  min-width: 180px;
  display: none;
}

.sub-menu ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.sub-menu:hover > ul {
  display: block;
}

.sub-menu ul li {
  position: relative;
}

/* Menu cấp 2 (hiện bên phải) */
.sub-menu ul li ul {
  top: 0;
  right: 100%;
}

/* Hiện menu cấp 2 khi hover */
.sub-menu ul li:hover > ul {
  display: block;
}

.product-detail .inner-thumb img {
  width: 100%;
  height: auto;
}

.product-detail .inner-title {
  font-size: 32px;
  margin-bottom: 15px;
}

.product-detail .inner-category {
  margin-bottom: 10px;
}

.product-detail .inner-price-new {
  color: green;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
}
