extends ../../layouts/default.pug
include ../../mixin/box-head.pug
include ../../mixin/LayoutProduct.pug
include ../../mixin/box-head.pug

block main
    div(class="container my-4 px-3")
        div(class="row mb-3")
        div(class="col-12")
            +box-head(title)
        +product-grid(products)
        